
 {% extends "base.html" %}

{% block miaosu %}
<section class="big-title">
    <div class="container">
        <div class="row row-xs-center">
            <div class="col-xs-12 col-sm-6">
                <h3>重置密码</h3>
            </div>
            <div class="col-xs-12 col-sm-6 text-sm-right">
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block content %}
                    <form method="post" action="#" >
                     {% csrf_token %}


<div class="row padding-100">
                 {% if messages %}
                                    <div class="col-md-3"></div>
                        <div class="col-md-6">               
	<div class="alert alert-danger">

                    <div class="alert-icon"><i class="fa fa-info-circle"></i></div>
                    {% for message in messages %}
			<p class="text-{{ message.tags }}">
				{{ message }}
			 <span class="close pe-7s-close" data-dismiss="alert"></span></p>
	         {% endfor %}
             </div>
              </div>
              <div class="col-md-3"></div>
               
	{% endif %}     
                   <div class="row">
                   <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input type="password" placeholder="Old-password *" id="old-password" name="old-password" >
                        </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input id="password" name="password" type="password" placeholder="New Password *">
                        </div>
                     <div class="col-md-3"></div>
                     <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input id="password2" name="password2" type="password" placeholder="New Password Agin *">
                        </div>
                     <div class="col-md-3"></div>
                    </div>
<br>
		<div class="col-md-3"></div>
                        <div class="col-md-6">
                            <button class="bttn bttn-border-black" type="submit">提交重置</button>
                        </div>
                        <div class="col-md-3"></div>
                    
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
            </div>
        </div> 
        </div>
        </form>
{% endblock %}



















<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">重置密码</h3>
    </div>
    <form class="form-horizontal panel-body password-reset" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
        	<div class="col-xs-10">
                <button class="btn btn-default">
                    提交
                </button>
            </div>
        </div>
    </form>
</div>