 {% extends "base.html" %}
{% load staticfiles %}
{% block miaosu %}
<section class="big-title">
    <div class="container">
        <div class="row row-xs-center">
            <div class="col-xs-12 col-sm-6">
                <h3>订购中心</h3>
            </div>
            <div class="col-xs-12 col-sm-6 text-sm-right">
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}

<div class="page-header">
    <div class="container">
        <div class="row">
        <div class="row padding-100">
            <div class="col-md-6 padding-right-70-md">
                <div class="page-header_about-text">
                    <h2>一群具有创造性的 <span>YOUNG MAN.</span></h2>
                    <p>联系QQ：347657442.</p>
                    <p>联系邮箱：kangsgo@hotmail.com.</p>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="margin-bottom-20">our story</h4>
                <p class="margin-bottom-20">

99封情书是由创始人给女孩写了99封情书而的来，为大家打造一个廉价的爱情，感情分享，见证的网络平台，在这里衷心祝愿在这里购买主机的你们越来越好！

99封情书的母公司为泰坦主机，运营团队是一个专业从事网页寄存服务的运营团队，在 2008 年从事网页寄存行业以来、已有 7 年之久，正式创办自有网页寄存服务品牌稳定运营时间已长达 4 年。
.</p>
                <p>99封情书页面简洁，也只提供很少的套餐类型，就是为了打造一个小清新，自由的主机环境，我们热爱旅游，我们崇尚自由，我们富有激情，我们拥有共同语言！ </p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}