 {% extends "base.html" %}
 {% load static %}
 {% block miaosu %}
<div class="page-header">
    <div class="page-header_content">
        <div class="container">
            <div class="row padding-y-100">
                <div class="col-md-8 col-md-offset-2 text-center hover-line">
                    <svg class="margin-bottom-50" viewBox="0 0 34 14" style="background-color:#ffffff00" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                    x="0px" y="0px" width="34px" height="14px">
                        <rect class="rect-1" x="-0.283" y="0" width="34" height="1.8263" fill="#00aeef"/>
                        <rect class="rect-2" x="5.3838" y="6" width="22.6667" height="1.8261" fill="#00aeef"/>
                        <rect class="rect-3" x="11.0503" y="12" width="11.3334" height="1.8261" fill="#00aeef"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block content %}

<div class="section-1">
        <div class="container">
            <div class="row row-md-center">
                <div class="col-md-6 effective wow fadeInLeft">
                    <h2 class="text-inherit">专业 <span class="primary-color">博客主机</span> 服务商</h2>
                    <div class="margin-bottom-50"></div>
                    <div class="effective-item">
                        <h5 class="margin-bottom-20">完美的解决方案</h5>
                        <p class="margin-bottom-15">99FQS一直致力于为广大独立博客用户提供优质实惠的专业博客主机服务，现已积累有超过四年的专业博客主机服务经验，成为众多独立博客们的主机首选。.</p>
                        <a class="link-text link-text-arrow" href="/hosts/"><span data-hover="full features">立刻购买</span></a>
                    </div>
                    <div class="margin-bottom-70"></div>
                    <div class="effective-item">
                        <h5 class="margin-bottom-20">清新 &amp; 自由的平台 </h5>
                        <p class="margin-bottom-15">99封情书是由创始人给女孩写了99封情书而的来，为大家打造一个廉价的爱情，感情分享，见证的网络平台，在这里衷心祝愿在这里购买主机的你们越来越好！</p>
                        <a class="link-text link-text-arrow" href="/hosts/"><span data-hover="full features">立刻购买</span></a>
                    </div>
                </div>
                <div class="col-md-6 hidden-sm hidden-xs wow fadeInRight">
                    <img class="img-sec1-2" src="{% static "images/home/home7-section1-2.png" %}" alt="dione-effective">
                </div>
            </div>

            <div class="margin-bottom-50"></div>
            <div class="row">
                <div class="col-md-6 wow fadeInLeft">
                    <img src="{% static "images/home/home7-section1-3.png" %}" alt="digital specialist">
                </div>
                <div class="col-md-6 wow fadeInRight">
                    <div class="digital-specialist">
                        <h2 class="text-inherit margin-bottom-30">99封情书是个大家庭！</h2>
                        <p class="margin-bottom-50"> 99封情书页面简洁，也只提供很少的套餐类型，就是为了打造一个小清新，自由的主机环境，我们热爱旅游，我们崇尚自由，我们富有激情，我们拥有共同语言！</p>
                        <a href="/blog/" class="bttn bttDjangon-bg-black-color">我们博客</a>
                        <a href="/hosts/" class="bttn bttn-border-black">立刻加入</a>
                    </div>
                </div>
            </div>
            <div class="margin-bottom-100"></div>
        </div>
    </div>
        {% endblock %}


