 {% extends "base.html" %}
{% load staticfiles %}
{% block miaosu %}
<section class="big-title">
    <div class="container">
        <div class="row row-xs-center">
            <div class="col-xs-12 col-sm-6">
                <h3>订购中心</h3>
            </div>
            <div class="col-xs-12 col-sm-6 text-sm-right">
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}

<div class="page-header">
    <div class="container">
        <div class="row">
        <div class="row padding-100">
            <div class="col-md-6 padding-right-70-md">
                <div class="page-header_about-text">
                    <h2>Creative studio based in <span>New York.</span></h2>
                    <p>Work  is our favorite four letter word. It’s also what defines us as a user-centered design company.</p>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="margin-bottom-20">our story</h4>
                <p class="margin-bottom-20">

古尔数据是国内领先的公益网页寄存服务提供商，为国内有网页寄存需求的用户提供高质量的免费、付费网页寄存服务。

古尔运营团队是一个专业从事网页寄存服务的运营团队，在 2008 年从事网页寄存行业以来、已有 7 年之久，正式创办自有网页寄存服务品牌稳定运营时间已长达 4 年。
.</p>
                <p>除此之外，古尔数据还是国内鲜见的、具有自主研发能力的网页寄存服务提供商，网页寄存服务的产品线包含有弹性网存、分销产品、云服务器与备份主机等等。古尔拥有国内领先且非常优秀的运营团队，团队成员毕业于华南理工大学、南京理工大学、天津大学、中国科技大学等名校。许许多多的奇思妙想，均是来自于这样一个充满活力的团队。. </p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}